@charset "utf-8";
/*@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);*/
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; letter-spacing:-1px;}


 /* base setting */
html,
body {
	width: 100%;
	height:100%;
	font-family: sans-serif;
	letter-spacing:-1px;
}
html,
body,
p,
input,
textarea {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: #777;
	line-height: 1.4em;
	-ms-word-break: keep-all;
	word-break: keep-all;
	word-wrap: break-word;
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
img,
input {vertical-align: middle;}
img {
	border: 0px;
}
form {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #777 ;
}
hr {
	height: 0;
	display: block;
	border: 0;
	border-top: 1px solid #666;
	margin: 1em 0;
}
address {font-style: normal;}
table caption {width: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden;}
input[type=text] {
	-webkit-ime-mode:active;
-moz-ime-mode:active;
-ms-ime-mode:active;
ime-mode:active;
}
fieldset {
    border: none;
    vertical-align: top;
}
legend{
	display:none;
}
caption {
   width: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden;
}
/* wrap */
#wrap {
	background-color: #e7e7e7;
	/*min-width: 1000px;*/
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
}
#main_wrap {
	/*min-width: 1000px;*/
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
}

#skipnav {margin: 0; padding: 0;}
#skipnav a {display: block; overflow: hidden; position: absolute; left: 0; top: -10000px;}
#skipnav a.res_web_view { display: none; }
#skipnav a:hover, #skipnav a:focus, #skipnav a:active { padding: 15px 0; background-color: #004b9d; color: #fff; font-size: 120%; width: 100%; text-align: center; top: 0px; z-index: 1001; }

#header_wrap {background-color: #fff; position: absolute; top: 0; width: 100%; z-index: 1000; }
#header_wrap a { text-decoration: none; }
#header_wrap:before { content: ''; width: 100%; height: 49px; background: #1f6ed4; display: block; position: absolute; left: 0; top: 60px; box-sizing: border-box;}
.frtn_taegeukgi { position: absolute; left: 0; top: 15px; margin: 0; padding: 0; }
.govindex { position: absolute; left: 140px; top: 13px; margin: 0; padding: 0; }
#header { padding-top: 60px; max-width: 1100px; margin: 0 auto; position: relative;}
#header h1 {position: absolute; left: 0; top: 11px; z-index: 10; display: inline-block; margin: 0; }
#header h1 img { width: 100%; }
#header #m_menu{position: absolute; top: 18px; width:30px; height:30px; left: 10px; display:none;}
#header #m_menu > button{width: 100%; height: 100%; vertical-align: middle;font-size:1em;font-size: 0.75em; margin: 0; padding: 0; border: none; background: none;}
#header #m_menu button .tcon-menu_lines{position: relative;display: inline-block; height: 5px; width: 100%;  background: #1f6ed4; bottom:3px; text-indent:-999px; font-size:0;}
#header #m_menu button .tcon-menu_lines:before, #header #m_menu button .tcon-menu_lines:after { display: inline-block; height: 5px;  width: 100%; background: #1f6ed4; content: ''; position: absolute; left: 0; transition: top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19);}
#header #m_menu button .tcon-menu_lines:before{top:-11px;}
#header #m_menu button .tcon-menu_lines:after {bottom:-11px;}

#header .btn_serch{position: absolute; top: 15px; width:30px; height:30px; right: 10px; display:none;}
#header .btn_serch img{width:30px;}

.top_menu { position: absolute; right: 0; top: 0; box-sizing: border-box; }
.top_menu ul { margin-top: 24px; text-align: right; box-sizing: border-box; position: relative;}
.top_menu ul:after { content: ''; position: absolute; right: 0; top: 2px; width: 1px; height: 12px; display: inline-block; background-color: #ddd; }
.top_menu ul li {float:left; padding: 0 9px 0 9px; position: relative; vertical-align: middle; }
.top_menu ul li:before { content: ''; position: absolute; left: 0; top: 2px; width: 1px; height: 12px; display: inline-block; background-color: #ddd; }
.top_menu ul li a {color: #888888; font-size: 12px; }

.top_menu a[target="_blank"]:after, .nav a[target="_blank"]:after, .sub_menus_inner .sub_menus li a[target="_blank"]:after { content: ''; width: 11px; height: 11px; position: relative; display: inline-block; background: url(../../images/com/iconset_main.png) no-repeat; background-position: -125px 0; vertical-align: -2px; margin-left: 4px; }
.top_menu li[class^="sns"] a[target="_blank"]:after { display: none; }
.top_menu ul li[class^="sns"]:before { display: none; }
.top_menu ul li[class^="sns"] { padding: 0; margin: 0 4px; }
.top_menu ul li[class^="sns"] a { text-indent: -9999px; overflow: hidden; background: url(../../images/com/iconset_main.png) no-repeat; background-position: -25px -75px; text-align: left; vertical-align: middle; display: block; }
.top_menu ul li.sns1 a { background-position: 15px -50px; width: 8px; height: 15px; margin-left: 5px; padding-left:15px; }
.top_menu ul li.sns2 a { background-position: -25px -48px; width: 18px; height: 17px; }
.top_menu ul li.sns3{ margin:0;}
.top_menu ul li.sns3 a { background-position: -46px -50px; width: 12px; height: 17px; padding:0 4px; }
.top_menu ul li.sns4 a { background-position: -75px -48px; width: 18px; height: 17px; }
.top_menu ul li.sns5 a { background-position: -100px -50px; width: 18px; height: 17px; }
.header_srchBox { position: absolute; right: 0; top: 69px; width: 200px; height: 31px; background-color:#fff; vertical-align:middle;}
.header_srchBox form {display: block;}
.header_srchBox legend, .header_srchBox label { width: 0px; height: 0px; overflow: hidden; text-indent: -9999px; display: block; }
.header_srchBox input[type="text"] {border: 0; line-height: 19px; width: 160px; height: 31px; -webkit-ime-mode:active; -moz-ime-mode:active; -ms-ime-mode:active; ime-mode:active;  float:left; }
.header_srchBox input input[type=image] {vertical-align:middle; padding:7px;}
.header_srchBox .search_btn { text-indent: -9999px; overflow: hidden; background: url(../../images/com/iconset_main.png) no-repeat; background-position: -25px -75px; width: 19px; height: 19px; cursor: pointer; position: absolute; right: 12px; top: 6px; }
.header_srchBox fieldset {border:none; padding:0; margin:0;}

.search_close { display: none; }
.menuicon, .menuclose, .nav_top { display: none; }
.nav_wrap { background: #fff; overflow: hidden;  }
.nav_wrap .nav_wrap_inner{width:1100px; margin:0 auto; }
.nav { display: table; }
#nav { width:800px; margin-left:30px;}
#nav > ul {box-sizing: border-box; padding-right: 1px; }
#nav > ul > li { font-size: 16px; font-weight: bold; display: table-cell; position: relative; box-sizing: border-box;  transition: background 0.3s; }
#nav > ul > li:after {position:absolute; left:0; top:15px; width:1px; height:20px; background-color:#5187cd; content:""; }
#nav > ul > li:first-child:after {display:none;}
#nav > ul > li a { display: block; }

#nav > ul > li.active > a { color: #fff; font-weight: bold; background: #1f2d5c; }
#nav > ul > li > a {font-weight: 400; color: #fff; background: #1f6ed4; line-height: 49px; height: 49px; display: inline-block; position: relative; transition: background 0.3s; width: 144px; box-sizing: border-box; vertical-align: top; text-align: center; font-size:18px; text-shadow: -1px 1px 0px rgba(0,0,0,.2);}
#nav > ul > li.on > a, #nav > ul > li:hover > a { background-color: #1f2d5c; color: #fff; }
#nav > ul > li > div { width: 144px; height: 100%; box-sizing: border-box; display: none; }
#nav .nav.on > li > div { display: block; }
#nav > ul > li.on, #nav > ul > li:hover { background:#eff5e8; }
#nav > ul > li > div > ul { width: 100%;box-sizing: border-box; padding: 12px 10px; position: relative; transition: all 0.3s; height: 100%; }
#nav > ul > li > div > ul > li { text-align: left; }
#nav > ul > li > div > ul > li > a { padding:5px 12px; line-height:1.3; color:#666666; background:url(../images/ico/ico_gnb_li.png) no-repeat left 10px; font-size:14px; letter-spacing:-1px;}

#nav > ul > li > div > ul > li > a:hover {color:#93bd36; }
#nav > ul > li > div > ul > li:first-child > a:before, #nav > ul > li > div > ul > li > a[target="_blank"]:before { display: none; }
#nav > ul > li > div > ul > li.on > a { background: #4573ae; color: #fff; font-weight: bold; }

/* 올메뉴 */

#navi_wrap{position: relative; margin-top: 60px;}
.allmenu {position:absolute; display:none;width: 70%; max-width: 400px; left:-100%;  z-index: 200; height:100%; background-color:#1f6ed4;  top:0;}
.allmenu .m_lnb {background-color:#000; padding:10px; overflow:hidden;}
.allmenu .m_lnb .lnb_home{float:left; display:inline-block; background:url(../images/common/bg_home.png) no-repeat left top; background-size: 30px; width:30px; height:24px; text-indent:-999px; font-size:0; color:#fff;}
.allmenu .m_lnb .lnb_btn{float:right;}
.allmenu .m_lnb .lnb_btn a{display:block;  background-color:#f0f0f0; font-size:13px; color:#666666; padding:5px 10px; line-height:1.2;}
.allmenu > .inner .header:after {display:block; clear:both; content:"";}
.allmenu > .inner .header{background-color:#f0f0f0; padding: 1em 2.9%;}
.allmenu > .inner .header .top_btn > button{width: 7em; border-radius: 0.2em; padding: 0.6em 0; font-size: 1.5em;}
.allmenu > .inner .header .top_btn > button.btn_log{background-color: #fff; border: 0.1em solid #333; color: #333; }
.allmenu > .inner .header .top_btn > button.btn_mp{background-color: #656565; border: 0.1em solid #656565; color: #fff; }
.allmenu > .inner .header p{float: left;  margin-left: 0.2em; line-height: 1.3em; padding-top: 0.2em;}
.allmenu > .inner .header p.b_login{padding-top: 1em;}
.allmenu > .inner .header h1 p > span.mail{display: block;font-size: 0.95em;font-weight: normal;padding-left:0.2em;	}
.allmenu > .inner .header h1 > span.img{width: 3em; display: block; float: left;}
.allmenu > .inner .header h1 > span.img img{width: 100%;}

.allmenu > .inner > ul > li {border-bottom:1px solid #d7d7d7;}
.allmenu > .inner > ul > li:first-child {border-top:0;padding-top: 0;}
.allmenu > .inner > ul > li > span {display:block;  cursor:pointer; color:#ffffff; display:block; padding: 18px 15px; font-weight: 600; font-size: 15px; line-height: 1;}

.allmenu > .inner > ul > li > ul {display: none; background-color: #d7d7d7;}
.allmenu > .inner > ul > li > ul:after {display:block; clear:both; content:"";}
.allmenu > .inner > ul > li > ul > li {box-sizing:border-box;border-top: 1px solid #fff;}
.allmenu > .inner > ul > li > ul > li:last-child{border-bottom: 0;}
.allmenu > .inner > ul > li > ul > li > a {display:block; color:#333333; font-size:15px; padding: 15px; font-weight: normal;}

.allmenu > .inner > ul > li > ul li .dep3{display: none;}
.allmenu > .inner > ul > li > ul li .dep3>ul>li {box-sizing:border-box;border-top: 1px solid #d7d7d7;background-color: #fff; }
.allmenu > .inner > ul > li > ul li .dep3>ul>li>a{display:block; font-size: 15px; color: #333333; padding: 18px 15px 18px 25px; position: relative;}
.allmenu > .inner > ul > li > ul li .dep3>ul>li>a:after{position: absolute; width: 5px; height: 1px; background-color: #999; top: 26px; left: 15px; content: "";}


.bg {display: none;position: absolute; height:100%; top: 0;width:100%; background:#000; opacity:0.6;z-index: 150;}



/* //올메뉴 */


.sb-search { z-index:11; display:none; position: absolute; top:13px; right:10px; width: 0%; min-width: 35px; height: 35px; float: right; overflow: hidden; -webkit-transition: width 0.3s; -moz-transition: width 0.3s; transition: width 0.3s; -webkit-backface-visibility: hidden; padding-left:60px;}
.sb-search-input {border: none; outline: none; background: #fff; width: 100%; height: 35px !important; margin: 0; z-index: 10; font-size: 15px; color: #2c3e50;  margin-right: 0 !important; padding: 0 0; border:none !important; border-bottom:1px solid #ddd !important;}
.sb-icon-search,.sb-search-submit  {width: 35px; height: 35px; display: block; position: absolute; right: 0; top: 0; padding: 0; margin: 0; line-height: 35px; text-align: center; cursor: pointer;}
.sb-search-submit {	background: #fff; /* IE needs this */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */  filter: alpha(opacity=0); /* IE 5-7 */ opacity: 0; color: transparent; border: none; outline: none; z-index: -1;}
.sb-icon-search {color: #fff; background-color: #fff; z-index: 90; font-size: 22px;}
.sb-icon-search img{width:35px; vertical-align: top;}

/* Open state */
.sb-search.sb-search-open, .no-js .sb-search {width: 100%; }
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {color: #fff; z-index: 11;}
.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit {z-index: 90;}








#mo_lnb{margin-top: 60px; display:none; background-color: #1f6ed4;}
#mo_lnb ul:after{display: block; content: ""; clear: both;}
#mo_lnb ul li{width:33.3333%; float:left; }
#mo_lnb ul li a{display: block; text-align: center; color: #fff; font-size: 15px; font-weight: 600; border-bottom:1px solid #ececec; border-left:1px solid #ececec; padding:12px 0; text-shadow: -1px 1px 0px rgba(0,0,0,.2);}


/* footer */
#footer {
	width: 100%;
	border-top:1px solid #d6d6d6;
	margin: auto;
	background-color: #fff;
	padding: 30px 10px;
	clear: both;
}
#footer .footer_inner{max-width:1100px; margin:0 auto; position: relative;}
.fnb {
	margin-bottom: 10px;
}
.fnb li {
	display:inline-block;
	padding-left:10px;
	margin-left:8px;
	position: relative;
}
.fnb li:after {position:absolute; left:0; top:2px; width:1px; height:13px; background-color:#d9dfe5; content:""; }
.fnb li.font_bl{ padding-left:0px; margin-left:0px;}
.fnb li.font_bl:after {display: none;}
.fnb a {
	font-size: 14px;
	color: #444;
	white-space: nowrap;
	font-weight:normal;
}
.fnb li.btn_down{padding-right:15px; background:url(../images/common/bg_viewer.png) no-repeat right 2px; }

.info_compay {
	font-size: 12px;
	color: #707070;
	line-height: 20px;
}
.bx_family{
	position: absolute;
	right: 0;
	top: 0;
}
.family_site {
	height: 27px;
	line-height: 27px;
	min-width: 160px;
	border: 1px solid #ccc;
}
.bx_family a{
	border-radius: 2px;
    background-color: #1f6ed4;
    color: #fff;
    display: inline-block;
    line-height: 27px;
    padding: 0 8px;
}
.logos {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 210px;
}
.logos a {
	margin-left: 10px;
}

.cont .list.document > li {padding-left: 0px; background:none; }

.tab_btn_area {width: 100%; margin-top: 10px; display:table; border-bottom: solid 1px #c8c8c8;}
.tab_btn_area a {width: 108px; padding:10px 0; display:table-cell; text-align:center; vertical-align:middle; border: solid 1px #c8c8c8; border-bottom:0;}
.tab_btn_area a.on {width: 110px; background-color:#598cc8; color:#fff;}
.tab_btn_area a strong {display:block; font-size:16px;}
.tab_btn_area a.on strong {color:#fff;}

.tab_btn_area2 {width: 100%; margin-top: 10px; display:table; border-bottom: solid 1px #c8c8c8; border-top: solid 1px #c8c8c8; border-right: solid 1px #c8c8c8; }
.tab_btn_area2 ul{margin:0 !important;}
.tab_btn_area2 ul li{float:left; width: 16.6666%; display:table; margin:0; line-height: 1.4;}
.tab_btn_area2 ul li a{width: 100%; padding:10px 0; text-align:center; vertical-align:middle; border-left: solid 1px #c8c8c8; display:table-cell; font-size: 13px; height:90px;}
.tab_btn_area2 ul li a strong {display:block; font-size:16px; color: #4374ac;}
.tab_btn_area2 ul li a.on {background-color:#598cc8; color:#fff;}
.tab_btn_area2 ul li a.on strong {color:#fff;}

.invisible {
	overflow:hidden;
	visibility:hidden;
	position:absolute;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
}

.fnb .font_bl  a {
	font-weight:900; color:#333333;
}
#bx_sitemap {}
#bx_sitemap span{float:left; width:22px; height:23px; display:block; margin-top: 22px; border:none; }
#bx_sitemap span:after{display: block; content: ""; clear: both;}
#bx_sitemap span.all_menu button{position: relative; display: block; height: 3px; width: 22px;  background: #fff; bottom:0; left:-6px; text-indent:-999px; font-size:0; border:none;}
#bx_sitemap span.all_menu button:before, #bx_sitemap span.all_menu button:after { display: inline-block; height: 3px;  width: 100%; background: #fff; content: ''; position: absolute; left: 0; transition: top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19);}
#bx_sitemap span.all_menu button:before{top:-8px; border-bottom:5px solid #1f6ed4; }
#bx_sitemap span.all_menu button:after {bottom:-8px; border-top:5px solid #1f6ed4;}

#bx_sitemap .sitemap{position: absolute; left: 0; top: 109px; z-index:999; width:100%; background-color: #fff; display:none; border-bottom:1px solid #d6d6d6}
#bx_sitemap .sitemap > ul{overflow:hidden;}
#bx_sitemap .sitemap > ul > li.s2, .sitemap > ul > li.s4, .sitemap > ul > li.s6{background-color:#f7f7f7;}

#bx_sitemap .sitemap > ul > li .dep1_area{margin:0 auto; max-width:1100px; clear: both; padding:25px 0;}
#bx_sitemap .sitemap > ul > li .dep1_area > a{font-size:18px; color:#669900; float:left; font-weight: 600; display:block; padding-top:90px; background-position: center top; background-repeat: no-repeat; width:90px; text-align: center;}
#bx_sitemap .sitemap > ul > li.s1 .dep1_area > a{background-image: url(../images/common/bg_1depth1.png);}
#bx_sitemap .sitemap > ul > li.s2 .dep1_area > a{background-image: url(../images/common/bg_1depth2.png);}
#bx_sitemap .sitemap > ul > li.s3 .dep1_area > a{background-image: url(../images/common/bg_1depth3.png);}
#bx_sitemap .sitemap > ul > li.s4 .dep1_area > a{background-image: url(../images/common/bg_1depth4.png);}
#bx_sitemap .sitemap > ul > li.s5 .dep1_area > a{background-image: url(../images/common/bg_1depth5.png);}
#bx_sitemap .sitemap > ul > li.s6 .dep1_area > a{background-image: url(../images/common/bg_1depth6.png);}
#bx_sitemap .sitemap > ul > li .dep1_area .dep2_area {margin-left:0;}
#bx_sitemap .sitemap > ul > li .dep1_area .dep2_area > ul{overflow:hidden;	margin-left:-45px;}
#bx_sitemap .sitemap > ul > li .dep1_area .dep2_area > ul > li{float:left; margin-left:38px;}
#bx_sitemap .sitemap > ul > li.s5 .dep1_area .dep2_area > ul > li {height:120px;}
#bx_sitemap .sitemap > ul > li.s5 .dep1_area .dep2_area > ul > li.last{height:135px;}
#bx_sitemap .sitemap > ul > li.s6 .dep1_area .dep2_area > ul > li {height:140px;}
#bx_sitemap .sitemap > ul > li.s6 .dep1_area .dep2_area > ul > li.last{height:117px;}

#bx_sitemap .sitemap > ul > li .dep1_area .dep2_area > ul > li > a{color:#333333; font-size: 16px; display: block; width: auto; padding-left:10px; background:url(../images/common/bg_2depth.png) no-repeat left 5px; font-weight: 600;}
#bx_sitemap .sitemap > ul > li .dep1_area .dep2_area > ul > li > a:hover{text-decoration: underline !important; color: #000;}
#bx_sitemap .sitemap > ul > li .dep1_area .dep2_area > ul > li .dep3_area{margin-left:10px; margin-top: 10px;}
#bx_sitemap .sitemap > ul > li .dep1_area .dep2_area > ul > li .dep3_area ul li{margin-top: 3px;}
#bx_sitemap .sitemap > ul > li .dep1_area .dep2_area > ul > li .dep3_area ul li a{color: #666; font-size: 14px; position: relative; padding-left:10px;}
#bx_sitemap .sitemap > ul > li .dep1_area .dep2_area > ul > li .dep3_area ul li a:after {position:absolute; left:0; top:10px; width:5px; height:1px; background-color:#666666; content:""; }
#bx_sitemap .sitemap > ul > li .dep1_area .dep2_area > ul > li .dep3_area ul li a:hover{color:#669900;}

#bx_sitemap .sitemap .btn_close {text-align: center;}
#bx_sitemap .sitemap .btn_close button{border:1px solid #333; font-size:16px; color: #fff; background-color: #333; width:170px; line-height:2; margin: 25px 0;}
